In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [15]:
# reflect an existing database into a new model

Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine, reflect=True)

In [16]:
# View all of the classes that automap found

Base.classes.keys()

['measurement', 'station']

In [17]:
# Save references to each table

measurement = Base.classes.measurement
stations = Base.classes.measurement

In [18]:
# Create our session (link) from Python to the DB

session=Session(engine)

# Exploratory Precipitation Analysis

In [25]:
# Find the most recent date in the data set.

session.query(measurement.date).order_by(measurement.date.desc()).first()

('2017-08-23',)

In [48]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 

max_date = session.query(measurement.date).order_by(measurement.date.desc()).first()

# Starting from the most recent data point in the database. 

session.query(measurement.date).order_by(measurement.date.desc()).first()


# Calculate the date one year from the last date in data set.

query_date = dt.date(2017, 8, 23) - dt.timedelta(days=366)
print("Query Date: ", query_date)

# Perform a query to retrieve the data and precipitation scores

query = session.query(measurement.date, measurement.prcp).filter(measurement.date >= query_date).all()


# Save the query results as a Pandas DataFrame and set the index to the date column

precipitation_df = pd.DataFrame(query,columns=['date', 'precipitation'])


# Sort the dataframe by date

precipitation_df = precipitation_df.sort_values(by='date',ascending=True)
precipitation_df.head()


# Use Pandas Plotting with Matplotlib to plot the data

Query Date:  2016-08-22

            date  precipitation
0     2016-08-22           0.40
1012  2016-08-22            NaN
1534  2016-08-22           2.32
706   2016-08-22            NaN
362   2016-08-22           0.94

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()